In [1]:
t = (1,2,3,4,5)

In [2]:
type(t)

tuple

In [3]:
t1 = ("Sudh",345, 45+78j, 546.546, True)

In [4]:
l = ["Sudh",345, 45+78j, 546.546, True]

In [5]:
type(t1)

tuple

In [6]:
type(l)

list

In [7]:
t2=()

In [8]:
type(t2)

tuple

In [9]:
l[0:2]

['Sudh', 345]

In [10]:
t1[0:2]

('Sudh', 345)

In [11]:
t1[::-1]

(True, 546.546, (45+78j), 345, 'Sudh')

In [12]:
t1[-1]

True

In [14]:
t1[0::2]

('Sudh', (45+78j), True)

In [15]:
l

['Sudh', 345, (45+78j), 546.546, True]

In [16]:
l1 = [4,5,6,7]

In [17]:
l[0]="Kumar"

In [18]:
l

['Kumar', 345, (45+78j), 546.546, True]

In [19]:
t1[0]

'Sudh'

In [20]:
t1[0]="xyz"

TypeError: 'tuple' object does not support item assignment

In [21]:
s = "sudh"

In [22]:
s[0]= 45

TypeError: 'str' object does not support item assignment

In [23]:
t1

('Sudh', 345, (45+78j), 546.546, True)

In [24]:
t2=(34,56,56,56,5,656)

In [25]:
t1+t2 
# this is append operation of tuple

('Sudh', 345, (45+78j), 546.546, True, 34, 56, 56, 56, 5, 656)

In [26]:
l

['Kumar', 345, (45+78j), 546.546, True]

In [27]:
l1

[4, 5, 6, 7]

In [28]:
l+l1
#appending of list

['Kumar', 345, (45+78j), 546.546, True, 4, 5, 6, 7]

In [29]:
t1

('Sudh', 345, (45+78j), 546.546, True)

In [30]:
t1*2

('Sudh', 345, (45+78j), 546.546, True, 'Sudh', 345, (45+78j), 546.546, True)

In [34]:
t1.count("Sudh")

1

In [35]:
t1.index("Sudh")

0

In [32]:
l.

['Kumar', 345, (45+78j), 546.546, True]

In [36]:
t = (45,54,54,5,(4,5,6),("sudh"))

In [37]:
t1 = ([3,4,5,6], ("sd",435,56), "ushd")

In [39]:
t1[0][2] ="Sudh"

t1

In [40]:
t1

([3, 4, 'Sudh', 6], ('sd', 435, 56), 'ushd')

In [41]:
t1[0]= "jsj"

TypeError: 'tuple' object does not support item assignment

In [42]:
t1 = (53,54,45,4,5,54)

In [44]:
l = list(t1)

In [45]:
l

[53, 54, 45, 4, 5, 54]

In [46]:
tuple(l)

(53, 54, 45, 4, 5, 54)

In [47]:
# SETS

In [48]:
l = [1,2,3,4,5,6,4,5,6,7,8,5,4,5,7.3,2,4,5,6,7]

In [49]:
set(l)

{1, 2, 3, 4, 5, 6, 7, 7.3, 8}

In [50]:
s = {}

In [51]:
type(s)

dict

In [52]:
s1 = {2,3,4}

In [53]:
type(s1)

set

In [54]:
s2 = {1,2,2,2,33,3,33,3,4,5,8}

In [55]:
s2

{1, 2, 3, 4, 5, 8, 33}

In [56]:
s2[0]

TypeError: 'set' object does not support indexing

In [57]:
list(s2)

[1, 2, 3, 4, 33, 5, 8]

In [58]:
s2

{1, 2, 3, 4, 5, 8, 33}

In [59]:
s2.add(89777)

In [60]:
s2

{1, 2, 3, 4, 5, 8, 33, 89777}

In [61]:
s2.add("sudh")

In [62]:
s2

{1, 2, 3, 33, 4, 5, 8, 89777, 'sudh'}

In [63]:
s2.add([3,4,5,6])

TypeError: unhashable type: 'list'

In [64]:
{[3,4,5,6],3,4,5,43,4,5}

TypeError: unhashable type: 'list'

In [65]:
{(3,4,5,6),3,4,5,43,4,5}

{(3, 4, 5, 6), 3, 4, 43, 5}

In [66]:
{(3,4,5,6),(3,4,5,6),3,4,5,43,4,53,4,5,43,4,5}

{(3, 4, 5, 6), 3, 4, 43, 5, 53}

In [67]:
s = {(3,4,5,6),(3,4,5,6),3,4,5,43,4,53,4,5,43,4,5}

In [69]:
s

{(3, 4, 5, 6), 3, 4, 43, 5, 53}

In [70]:
s.remove(4)

In [71]:
s

{(3, 4, 5, 6), 3, 43, 5, 53}

In [72]:
s.discard(5)

In [73]:
s

{(3, 4, 5, 6), 3, 43, 53}

In [74]:
s.remove(45)

KeyError: 45

In [75]:
s.discard(45)

In [77]:
{"Sudh", "sudh"}

{'Sudh', 'sudh'}

In [78]:
s =  {4,5,6,7,78,"sudh","sudh"}

In [79]:
s

{4, 5, 6, 7, 78, 'sudh'}

In [80]:
set(l)

{1, 2, 3, 4, 5, 6, 7, 7.3, 8}

In [81]:
l = [3,4,5,6]

In [82]:
set(l)

{3, 4, 5, 6}

In [83]:
d = {3,4}

In [84]:
type(d)

set

In [85]:
d = {4: "sudh"}

In [86]:
type(d)

dict

In [87]:
d1 = {"key1": 5445, "key2": "sudh", "key3":[3,4,5,6]}

In [88]:
l = [3,4,5,6,7]

In [89]:
d1

{'key1': 5445, 'key2': 'sudh', 'key3': [3, 4, 5, 6]}

In [90]:
l[0]

3

In [91]:
d1["key1"]

5445

In [92]:
d1[0]

KeyError: 0

In [93]:
d1[45]

KeyError: 45

In [94]:
d1["key3"]

[3, 4, 5, 6]

In [100]:
d = {@: ["dfsaf","dfsf",4,5,6,7,7]} # never use special charecters

SyntaxError: invalid syntax (<ipython-input-100-c19f7542d02b>, line 1)

In [101]:
d = {"KEY": {3,4,5,6}}

In [102]:
d1 = {"key1": [2,3,4,5], "key2":"sudh", "key1": 45 }

In [103]:
d1

{'key1': 45, 'key2': 'sudh'}

In [104]:
d1["key1"]

45

In [105]:
d1 = {"key1": [2,3,4,5], "key2":[2,3,4,5], "key1": 45 }

In [106]:
d1["key2"]

[2, 3, 4, 5]

In [107]:
# kays have to be unique, values don't have to be unique

In [108]:
d1["key1"]

45

In [109]:
d3 ={"*+++": "venu"}

In [121]:
d = {"name":"sudhanshu", "mo_mo":3456789,"mail_id": "sudhanshu@xyz.xom", "key1":[4,5,6,7], "key2": (3,4,5,6),"key4":{2,34,3}, "key3": {1:5, 4:16}}

In [122]:
d

{'name': 'sudhanshu',
 'mo_mo': 3456789,
 'mail_id': 'sudhanshu@xyz.xom',
 'key1': [4, 5, 6, 7],
 'key2': (3, 4, 5, 6),
 'key4': {2, 3, 34},
 'key3': {1: 5, 4: 16}}

In [123]:
d['key3']

{1: 5, 4: 16}

In [124]:
type(d["key2"])

tuple

In [125]:
type(d["key4"])

set

In [126]:
d.values()

dict_values(['sudhanshu', 3456789, 'sudhanshu@xyz.xom', [4, 5, 6, 7], (3, 4, 5, 6), {2, 3, 34}, {1: 5, 4: 16}])

In [127]:
# d.values gives all the values

In [128]:
d.items()

dict_items([('name', 'sudhanshu'), ('mo_mo', 3456789), ('mail_id', 'sudhanshu@xyz.xom'), ('key1', [4, 5, 6, 7]), ('key2', (3, 4, 5, 6)), ('key4', {2, 3, 34}), ('key3', {1: 5, 4: 16})])

In [129]:
#d.items returns all key and value pairs

In [130]:
d = {"key1": "sudh", "key2":[1,2,3,4]}

In [131]:
d["key3"] = "kumar"

In [132]:
d

{'key1': 'sudh', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [133]:
d["key1"]="jskds"

In [134]:
d

{'key1': 'jskds', 'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [135]:
# keys get added if new keyname is added

In [136]:
del d["key1"]

In [137]:
d

{'key2': [1, 2, 3, 4], 'key3': 'kumar'}

In [138]:
#del is used to delete key value from dictionary

In [139]:
del d

In [140]:
d

NameError: name 'd' is not defined

In [141]:
# del can be used to delete a dictionary

In [142]:
d1 = {"key1":"Sudh","key2":[4,5,6,7,8]}

In [143]:
#tuple as a key

In [144]:
d1[(1,2,3)]= "ineuron"

In [145]:
d1

{'key1': 'Sudh', 'key2': [4, 5, 6, 7, 8], (1, 2, 3): 'ineuron'}

In [146]:
d1.get("key1")

'Sudh'

In [147]:
#d1.get returns the element at key position

In [148]:
d1 = {"key1": "ineuron", "key": "FSDS"}

In [149]:
d2 = {"key2": 456, "key3":[1,2,3,4,5]}

In [150]:
d1.update(d2)

In [151]:
d1

{'key1': 'ineuron', 'key': 'FSDS', 'key2': 456, 'key3': [1, 2, 3, 4, 5]}

In [152]:
# d1.update(d2) will append d2 into d1

In [153]:
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [155]:
l = [1,23,4,5]

In [156]:
l.append(l)

In [157]:
l

[1, 23, 4, 5, [...]]

In [158]:
t1 = ("aditya", 1, 1+2j,3,4, True)

In [160]:
t1.index("True")

ValueError: tuple.index(x): x not in tuple

In [161]:
d1['keyfsdf']

KeyError: 'keyfsdf'

In [162]:
key = ("name", "mobile_no", "email_id")
value = "sudh"

In [163]:
d = d1.fromkeys(key,value)

In [164]:
d

{'name': 'sudh', 'mobile_no': 'sudh', 'email_id': 'sudh'}

In [ ]:
# d1.fromkeys() creates a dictionary from key and value pairs