In [1]:
#sudhanshu@ineuron.ai

In [3]:
def test(a,b,c,d,e):
    return a,b,c,d,e

In [4]:
test (1,2,3,4,5)

(1, 2, 3, 4, 5)

In [5]:
def test1(*args):
    return args

In [6]:
test1(1,2,3)

(1, 2, 3)

In [7]:
test1("Sudh",1,2,3,45.56)

('Sudh', 1, 2, 3, 45.56)

In [11]:
test1("Sudh",1,2,3,45.56,[3,4,"ndjk"],("d","f","g",4.67,5))

('Sudh', 1, 2, 3, 45.56, [3, 4, 'ndjk'], ('d', 'f', 'g', 4.67, 5))

In [12]:
def test2(*sudh):
    return sudh

In [13]:
test2("Sudh",1,2,3,45.56,[3,4,"ndjk"],("d","f","g",4.67,5))

('Sudh', 1, 2, 3, 45.56, [3, 4, 'ndjk'], ('d', 'f', 'g', 4.67, 5))

In [14]:
def test3(*sudh, a):
    return sudh,a

In [16]:
test3(34,56,767, a = 6546)

((34, 56, 767), 6546)

In [19]:
def test4(*sudh,a,b,c,d):
    return sudh,a,b,c,d,e

In [18]:
test4(1,2,3,4,a=[4,5,5,6,5],[1,2,3,4,5],"dsfd",345.54)

SyntaxError: positional argument follows keyword argument (<ipython-input-18-9bc5d4d2d38a>, line 1)

In [20]:
def test3(a,*sudh):
    return a,sudh

In [22]:
test3("fsadf", 2354, 54,56)

('fsadf', (2354, 54, 56))

In [23]:
def test5(a,*sudh, b,c):
    return sudh,a,b,c

In [29]:
test5("sfds", [2,3,4,5], 435,533,5, b=45,c=656)

(([2, 3, 4, 5], 435, 533, 5), 'sfds', 45, 656)

In [30]:
def test6(*args):
    for i in args:
        if type(i) == list:
            return i

In [31]:
test6(1,2,3,4,5,[1,2,4],"f")

[1, 2, 4]

In [32]:
test6(1,2,3,4,5,[1,2,4],"f",[3,4,5])

[1, 2, 4]

In [33]:
def test6(*args):
    for i in args:
        l =[]
        if type(i) == list:
            l.append(i)
            
    return l

In [34]:
test6(1,2,3,4,5,[1,2,4],"f",[3,4,5])

[[3, 4, 5]]

In [35]:
d = {"a": [2,3,4,5,6], 6 :[4,64,4,5,5,6]}

In [36]:
d["a"]

[2, 3, 4, 5, 6]

In [37]:
def test7(**kwargs):
    return kwargs

In [38]:
test7(1,2,3,4,5,[1,2,4],"f",[3,4,5])

TypeError: test7() takes 0 positional arguments but 8 were given

In [39]:
test7(a = 4, b= 9)

{'a': 4, 'b': 9}

In [40]:
def test8(**sudh):
    return sudh

In [41]:
test8(a=1,b=2,c=3,d=4)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [42]:
test8("v"= "sfds")

SyntaxError: keyword can't be an expression (<ipython-input-42-00554e2e5487>, line 1)

In [45]:
test8(v== "sfds")

NameError: name 'v' is not defined

In [44]:
test8(8= "sfds")

SyntaxError: keyword can't be an expression (<ipython-input-44-c9af8b62619d>, line 1)

In [46]:
def test9(**sudh):
    return sudh

In [47]:
test9(Name = "Sudh", age = "31", phonenumber = "4234", mail_is="jfi@hur.com", adr = "fssab")

{'Name': 'Sudh',
 'age': '31',
 'phonenumber': '4234',
 'mail_is': 'jfi@hur.com',
 'adr': 'fssab'}

In [51]:
def test10(a,**sudh):
    return sudh, a

In [52]:
test10(45, t = 67, b = 5, c= 7, d=8, e =45)

({'t': 67, 'b': 5, 'c': 7, 'd': 8, 'e': 45}, 45)

In [53]:
def test11(a, **sudh, *args):
    return sudh,a,args

SyntaxError: invalid syntax (<ipython-input-53-7719de1e881c>, line 1)

In [54]:
def test12(a, *args, **kwargs):
    return a, args, kwargs

In [55]:
test12(1,2,3,4,5, g = 5476, l = 46)

(1, (2, 3, 4, 5), {'g': 5476, 'l': 46})

In [61]:
def test13(a,b):
    return (a * b, a + b)
test13(1,4)

(4, 5)

In [62]:
a = lambda a,b : (a * b, a+b)

In [63]:
a(2,3)

(6, 5)

In [64]:
a = lambda *a : a

In [65]:
a(56,67,78)

(56, 67, 78)

In [66]:
x = lambda x: [i for i in x]

In [68]:
x([4,5,5,6])

[4, 5, 5, 6]

In [73]:
a = lambda **kwargs: kwargs

In [74]:
a(a=45, b = 60)

{'a': 45, 'b': 60}

In [75]:
a = 10
def test16(c,d):
    a = 5
    return c*d

In [76]:
test16(a,50)

500

In [82]:
c = 4
def test16(c,d):
    a = 5
    return c*d

In [83]:
test16(c,50)

200

In [87]:
l = [1,2,3,4,5,6,7]
l1=[]
for i in l:
    l1.append(i+2)

l1

[3, 4, 5, 6, 7, 8, 9]

In [88]:
def test17(a):
    for i in a:
        l1.append(i+2)
        
    return l1

test17(l)

[3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 6, 7, 8, 9]

In [89]:
a = lambda a: [i+2 for i in a ]
a(l)

[3, 4, 5, 6, 7, 8, 9]

In [90]:
[i+2 for i in l]

[3, 4, 5, 6, 7, 8, 9]

In [93]:
[(i**2, i+1) for i in l if i <4]

[(1, 2), (4, 3), (9, 4)]

In [94]:
d = {1:1, 2:4, 3:9}

In [96]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [99]:
d1 = {}
for i in range(10):
    
    d1[i]=i**2

In [100]:
d1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [101]:
tuple(i for i in range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [102]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [104]:
next(s)

TypeError: 'str' object is not an iterator

In [105]:
b = iter(s)

In [106]:
b

In [107]:
next(b)

's'

In [108]:
next(b)

'u'

In [109]:
s = "dfdfs"
for i in s:
    print(i)

d
f
d
f
s

In [110]:
s= iter(s)

In [111]:
next(s)

'd'

In [112]:
next(s)

'f'

In [114]:
next(s)

'd'

In [115]:
next(s)

'f'

In [116]:
next(s)

's'

In [117]:
next(s)

StopIteration:

In [118]:
l= [3,4,5,6]

In [119]:
l

[3, 4, 5, 6]

In [120]:
next(l)

TypeError: 'list' object is not an iterator

In [121]:
l = iter(l)

In [122]:
l

In [123]:
next(l)

3

In [124]:
next(l)

4

In [125]:
next(l)

5

In [126]:
next(l)

6

In [127]:
next(l)

StopIteration:

In [128]:
t = (5,6,7,8,8)

In [129]:
next(t)

TypeError: 'tuple' object is not an iterator

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44]

In [ ]:
f= open()